# Node.js / NPM (for development tools)
.husky/*
!.husky/pre-commit
!.husky/commit-msg
node_modules
package-lock.json

# Terraform
**/.terraform/*
iac/backend.tf

*.tfstate
*.tfstate.*
*.tfvars
iac/.terraform.lock.hcl
iac/*.zip
iac/builds/
iac/terraform.local.plan
iac/tfplan.txt
iac/tfplan

# macOS
.DS_Store

# General
temp
*.log
.env
.env.local

# Backup files
*.bak
