# ‼️ File used as an example for local.auto.tfvars in case we run it locally for testing purposes.

# -------------------------------------------------------------------
# AWS Provider Configuration
# -------------------------------------------------------------------
aws_region  = "<region>"
aws_profile = "<profile_name>"

# -------------------------------------------------------------------
# Project Metadata
# -------------------------------------------------------------------
owner       = "<email@domain.com>"
cost_center = "<cost_center, e.g., DEMO>"
project     = "<project_name>"
environment = "<env>"
created_by  = "arn:aws:iam::103881053461:user/<profile_nam>"

# -------------------------------------------------------------------
# Observe Platform Configuration
# -------------------------------------------------------------------
observe_customer            = "123456789012"
observe_collection_endpoint = "https://123456789012.collect.observeinc.com"
observe_token               = "<your_observe_token>"

 # Optional, only if using S3 Access Point for Filedrop - https://docs.observeinc.com/en/latest/content/data-ingestion/sources/amazon-s3.html
observe_filedrop_access_point_arn = "TBD"
observe_filedrop_bucket        = "TBD"
observe_filedrop_bucket_prefix = "TBD"
